//! **************************************************************************
// Written by: Map O.76xd on Fri Jul 29 15:28:04 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

